<% include partial/header %>

<div class='container'>
	<div class='row'>
		<div class='col-md-4 col-sm-4'>
            <div id='totDocs' class='panel panel-info topPanel'>
                <div class='panel-heading'>
                    <strong>Total Documents:</strong>
                </div>
                <div class='panel-body text-center'></div>
            </div>
        </div>
        
        <div class='col-md-4 col-sm-4'>
            <div id='totViews' class='panel panel-info topPanel'>
                <div class='panel-heading'>
                    <strong>Document Views:</strong>
                </div>
                <div class='panel-body text-center'></div>
            </div>
        </div>
        
        <div class='col-md-4 col-sm-4'>
            <div id='totCats' class='panel panel-info topPanel'>
                <div class='panel-heading'> <strong> Total Categories: </strong> </div>
                <div class='panel-body text-center'></div>
            </div>
        </div>      
        
        <div class='col-md-6 col-sm-6'>
            <div id='recentDocs' class='panel panel-info'>
                <div class='panel-heading'>
                    <strong>Recent Documents:</strong>
                </div>
                <div class='panel-body text-center'>
                    <table class='table table-striped'>
                        <thead>
                            <th> Title </th>
                            <th> Views </th>
                            <th> Helpful </th>
                            <th> Date </th>
                        </thead>                        
                    </table>
                </div>
            </div>
        </div>
        
        <div class='col-md-6 col-sm-6'>
            <div id='topCats' class='panel panel-info'>
                <div class='panel-heading'>
                    <strong> Top Categories: </strong> 
                </div>
                <div class='panel-body'>
                    <table class="table table-striped">
                        <thead>
                            <th>Name</th>
                            <th width="30%"># of Doc's</th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        
	</div>
</div>


<div class='hidden'>
<!--  Document Data  -->
    <table>  
        <% if(docs){ docs.forEach(function(doc, index){ %>
            <tr class='docData'>
                <td class='docViews'><%= doc.views %></td>
                <td class='docID'><%= doc._id %></td>
                <td class='docTitle'><%= doc.title %></td>
                <td class='docDate'><%= doc.created %></td>
                <td class='docHelp'><%= doc.helpful %></td>
                <td class='docCat'><%= doc.category %></td>
            </tr>
        <% })} %>
    </table>
<!--  Category Data  -->
    <table>
        <% if (cats) cats.forEach (function (cat) { %>
            <tr class='catData'>
                <td class='cID'><%= cat._id %></td>
                <td class='cName'><%= cat.name %></td>
                <td class='cParent'><%= cat.parent %></td>
            </tr>
        <% }) %>
    </table>
</div>

<script src='/javascript/acp.js' type='text/javascript'></script>


<% include partial/footer %>