<% include partial/header %>

<div class='container'>
	<div class='row'>
		<table class='table table-hover'>
			<thead>
				<th>#</th>
				<th>ID</th>
				<th>Title</th>
				<th>Created</th>
			</thead>
			<% if(docs){ docs.forEach(function(doc, index){ %>
				<tr>
					<td><%= index %></td>
					<td><%= doc._id %></td>
					<td><a href='/admin/doc/<%= doc._id %>'><%= doc.title %></a></td>
					<td class='rawDate'><%= doc.created %></td>
				</tr>
			<% })} %>
		</table>
	</div>
</div>


<script type="text/javascript">
$(document).ready(function(){

	$('.rawDate').each(function(){
		var tmp = $(this).html();
		$(this).html(moment(tmp).format("MM/DD/YYYY"));
	});

});

</script>

<% include partial/footer %>